<%= form_for @task, method: :patch do |f| %>
  <p><%= f.label :name %>
  <%= f.text_field :name %></p>

  <p><%= f.label :description %>
  <%= f.text_field :description %></p>

  <p><%= f.label :completion_status, "Completion Status" %>
  <%= f.select(:completion_status, options_for_select(@completion_status_options)) %></p>

  <p><%= f.label :completion_date, "Completion Date (if applicable)" %>
  <%= f.date_field :completion_date.to_s %></p>
  <!--Only possible to enter any date format above with .to_s-->

  <p><%= f.submit "Submit" %></p>
<% end %>
