<h2>Tasks: <% @user.name %></h2>

<% if !@tasks.nil? %>
  <% @tasks.each do |task| %>
    <li><%=task[:name]%> &nbsp <%= link_to("Details", task_path(task[:id])) %> &nbsp <%= link_to("➖", task_path(task[:id]), method: :delete, data: { confirm: "Are you sure you want to destroy this task?"} )%> &nbsp Delete a task</li>
    <li><%= button_to("Complete Task", task_complete_path(task[:id]), method: :patch) %></li>
    <hr>
  <% end %>
<% end %>

<h4><%=link_to("➕", tasks_new_path) %>&nbsp Add a task</h4>
