<% if !@task.nil? %>
  <h1><%= @task[:name] %></h1>

  <ul>
    <li>Description: <%= @task[:description] %></li>
    <li>Completion Status: <%= @task[:completion_status] %></li>
      <% if @task[:completion_date] == nil %>
          <li>Completion Date: <%= "N/A" %></li>
      <% else %>
          <li>Completion Date: <%= @task[:completion_date] %></li>
      <% end %>
  </ul>

  <h4><%= link_to("ðŸ“", task_edit_path(@task[:id])) %> &nbsp Edit </h4>

  <h4><%= link_to("ðŸ ", tasks_path) %> &nbsp Home </h4>
<% end %>
