<!DOCTYPE html>
<html>
<head>
  <title>Task List (Rails)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <% if session[:user_id].nil? %>
        <li><%= button_to("Sign In via Github", "/auth/github", method: :get) %></li>
        <h1>Task List</h1>
      <% else %>
        <li><%= button_to("Sign Out", sessions_path, method: :delete) %></li>
        <%= if !@current_user.nil? %>
          <h1>Task List: <%= @current_user.name %></h1>
        <%= else %>
          <h1>Task List</h1>
        <%= end %>
      <% end %>
      <hr>
      </nav>
    </header>
  </main>
<%= yield %>
</main>
<footer>
  <hr>
  <p>&copy; Jennifer Owens <%= Time.now.year %></p>
</footer>
</body>
</html>
