<!DOCTYPE html>
<html>
<head>
  <title>Task List (Rails)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <% if session[:user_id].nil? %>
      <li><%= link_to("Sign In", "/auth/github", method: :get) %></li>
      <% else %>
        <li><%= link_to("Sign Out", sessions_path, method: :delete) %></li>
        <% end %>
      </nav>
    </header>

<%= yield %>

</body>
</html>
